<div class="container">
  <div class="dev-page-login-block">
    <div class="registration-form">
      <div class="text-center">
        <img class="logo" src="assets/img/logo.svg">
        <h3>Create a free account today!</h3>
        <p>No comission fees, cancel at any time</p>
        <br>
        <br>
      </div>
      <form class="login-form validate" method="post" name="register-form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Company Name" id="companyid" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
              <input type="text" class="form-control" id="companyurl" placeholder="Custom url">
              <div class="input-group-addon">.daksu.com</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> I'm a Retailer
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> I'm a Manufacturer
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Company Name" id="companyid" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" id="email" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" id="password" required>
            </div>
          </div>
        </div>

        <div class="form-group no-border">
          <button class="btn btn-primary btn-block">Sign-up</button>
        </div>
      </form>                    
    </div>
    <div class="text-center looking-4-login"><a href="login.html">Want the login page?</a></div>
  </div>
</div>